<!-- <div class="row" *ngIf="weatherData && weatherData['city'] && weatherData['city']['name']">
    <div class="col-md-12">
        <h2> {{weatherData['city']['name']}} </h2>
    </div>
    <div class="col-md-12 mb-4">
        <div class="row">
            <div class="col-md-6">
                <span class="font-weight-bold">
                    {{keys(modifiedData && modifiedData['today']) }}
                </span>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <span>
                    Sunrise : {{weatherData['city']['sunrise']*1000 | date:'shortTime' }}
                </span>
                <span>
                    Sunset : {{weatherData['city']['sunset']*1000 | date : 'shortTime'}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12" *ngIf="modifiedData && modifiedData['today']">
        <div class="row d-flex justify-content-around">
            <ng-container *ngFor="let item of modifiedData['today'] | keyvalue">
                <div class="col-md-3 p-2 bg-light shadow" *ngFor="let data of item['value']">

                    <div class="row">
                        <div class="col-md-12">
                            {{(data.dt*1000) - 19800000
                                | date : 'EEEE'}}
                        </div>
                        <div class="col-md-12">
                            {{(data.dt*1000) - 19800000
                                | date : 'shortTime'}}
                        </div>
                        <div class="col-md-12">
                            {{data.weather[0].main}} : {{data.weather[0].description | titlecase}}
                        </div>
                        <div class="col-md-12">
                            Wind: {{data.wind.speed}} mph
                        </div>

                    </div>

                    <div class="d-flex flex-column p-2 font-md">

                        <span>
                            Temp {{data.main.temp - 273.15 | number : '2.2-2'}} C /
                            {{(data.main.temp - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                        </span>
                        <span>
                            Feels like {{data.main.temp_max - 273.15 | number : '2.2-2'}} C /
                            {{(data.main.temp_max - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                        </span>
                        <span>
                            Min {{data.main.temp_min - 273.15 | number : '2.2-2'}} C /
                            {{(data.main.temp_min - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                        </span>
                        <span>
                            Max {{data.main.temp_max - 273.15 | number : '2.2-2'}} C /
                            {{(data.main.temp_max - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                        </span>

                    </div>


                </div>
            </ng-container>
        </div>
    </div>

</div> -->
<div class="row">
    <div class="col-md-12 shadow-sm my-2 bg-light" *ngFor="let item of this.weatherData['list']">
        <div class="row d-flex flex-column p-2 font-md">
            <h2 class="text-info"> {{weatherData['city'].name}} </h2>

            <div class="row my-2">
                <div class="col-md-12 d-flex flex-column">
                    <span> Sunrise : {{weatherData['city']['sunrise']*1000 | date : 'shortTime'}}</span>
                    <span> Sunset : {{weatherData['city']['sunset']*1000 | date : 'shortTime'}}</span>
                </div>
            </div>
            <label class="font-weight-bold">
                {{(item['dt']*1000) - 19800000   | date: 'medium'}}
            </label>
            <div class="row my-2">
                <div class="col-md-3 d-flex flex-column justify-content-between">
                    <span class="text-primary"> Temp</span>
                    <span>
                        {{item.main.temp - 273.15 | number : '2.2-2'}} C /
                        {{(item.main.temp - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                    </span>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-between">
                    <span class="text-primary"> Feels like</span> {{item.main.temp_max - 273.15 | number : '2.2-2'}} C /
                    {{(item.main.temp_max - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-between">
                    <span class="text-primary"> Min</span> {{item.main.temp_min - 273.15 | number : '2.2-2'}} C /
                    {{(item.main.temp_min - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-between">
                    <span class="text-primary"> Max</span> {{item.main.temp_max - 273.15 | number : '2.2-2'}} C /
                    {{(item.main.temp_max - 273.15) * 9/5 + 32 | number : '2.2-2'}}F
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 d-flex flex-column">
                    <span class="text-primary">Weather</span>
                    <span> </span>
                </div>
                <div class="col-md-4">
                    <span class="text-primary flex-column">Clouds</span>
                    <span> {{item['weather'][0].description}} </span>

                </div>
                <div class="col-md-4">
                    <span class="text-primary flex-column">Wind</span>
                    <span> {{item['wind'].speed}} mph </span>
                </div>
            </div>


        </div>
    </div>
</div>